<div class="p-4">
  <h1 class="font-bold text-3xl mb-4">
    {{ displayMonth.format("MMMM") }} {{ displayMonth.year() }}
  </h1>
  <ul>
    <li>
      <ul class="flex flex-row">
        @for (dayOfWeek of selectedDayOfWeek; track $index) {
        <li class="w-[100px]">{{ dayOfWeek }}</li>

        }
      </ul>
    </li>
    @for (week of selectedMonth; track $index) {
    <li>
      <ul class="flex flex-row">
        @for (dayOfWeek of week; track $index) {
        <li class="w-[100px] cursor-pointer" (click)="selecteDate(dayOfWeek)">
          {{ dayOfWeek && dayOfWeek.dates() }}
        </li>
        }
      </ul>
    </li>
    }
  </ul>

  <div class="mt-4">
    <p-button label="previous" class="mr-1" (onClick)="previous()"></p-button>
    <p-button label="next" (onClick)="next()"></p-button>
  </div>
  <!-- 
  <p-calendar
    #calendar
    [inline]="true"
    [readonlyInput]="true"
    (onSelect)="selecteDate($event)"
  ></p-calendar> -->
</div>
